body { max-width: 500; background-color: cadetblue; text-align: center; margin: auto; }
.delete-btn { background-color: white; color: green; text-align: center; border: 2px solid green; border-radius: 2px; padding: 6px 16px;}
div { padding-bottom: 20px; }